@()
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="奇沃科技(keevol=KEEp eVOLution), MySQL数据库中间件， 外汇保证金交易系统(FX/Forex)与风控(Risk Management)软件提供商">
    <meta name="keywords" content="forex, FX, risk management, mysql middleware, keevol, 奇沃科技, keep evolution">
    <meta name="author" content="http://afoo.me">
    <title>KEEVOL - 奇沃科技</title>

    <!-- Bootstrap -->
    <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-xs-12"><h1 class="text-center">奇沃科技(KEEVOL)</h1></div>
        </div><!-- /row -->

        <hr>
        <div class="row mt centered">
            <div class="col-xs-12 text-center">
                <h2>Java/Scala Solutions and Consulting</h2>
                <h4>Scala is rising, Java Ecosystem is still flurishing, we are experts of BOTH! </h4>
            </div>
        </div><!-- /row -->
        <div class="row mt centered">
            <div class="col-xs-12 col-lg-4">
                <h3>Akka</h3>
                <p>actors rock</p>
            </div><!--/col-lg-4 -->

            <div class="col-xs-12 col-lg-4">
                <h3>Play framework</h3>
                <p>a new way to build the web and mobile</p>

            </div><!--/col-lg-4 -->

            <div class="col-xs-12 col-lg-4">
                <h3>Spark</h3>
                <p>Big Data Computation Makes Easy!</p>

            </div><!--/col-lg-4 -->
        </div><!-- /row -->

        <hr>

        <div class="row mt centered">
            <div class="col-xs-12 text-center">
                <h2>MySQL中间件服务</h2>
                <h4>存储, 我们只专注于MySQL！(As to Storage, we focus on MySQL ONLY!)</h4>
            </div>
        </div><!-- /row -->

        <div class="row mt centered">
            <div class="col-xs-12 col-lg-4">
                <h3>mysdal</h3>
                <p>发音为"my style", 轻量级分布式数据访问层， 在Mybatis/ibatis和Spring框架的基础上打造，设计优雅，性能稳定， 是中小企业迈向大数据时代的理想选择。</p>
            </div><!--/col-lg-4 -->

            <div class="col-xs-12 col-lg-4">
                <h3>handlersocket connector(for Java/Scala)</h3>
                <p>HandlerSocket Plugin让MySQL数据库华丽转身为NoSQL阵营的一员，handlersocket connector(for Java/Scala)则为您提供HandlerSocket访问MySQL数据库的基础能力，如果您将MySQL通过HandlerSocket搭建为一系列的NoSQL集群，那么我们甚至还将为您提供分布式的访问和管理能力。</p>

            </div><!--/col-lg-4 -->

            <div class="col-xs-12 col-lg-4">
                <h3>log event radar</h3>
                <p>MySQL的主备复制将不再只是数据库之间的特权， 通过Log Event Radar， 我们将实时获取MySQL数据库的状态变更并根据业务需求对这些状态变更做出快速反应， 打破MySQL的边界，让数据尽情的流淌...</p>

            </div><!--/col-lg-4 -->
        </div><!-- /row -->

        <hr>

        <div class="row mt centered">
            <div class="col-xs-12 text-center">
                <h2>外汇金融产品与技术支持(Forex Solutions and Consultant)</h2>
                <h4>我们不是MT4，但我们比MT4更贴心! (We are not MT4, but we are more considerate)</h4>
            </div>
        </div><!-- /row -->

        <div class="row mt centered">
            <div class="col-xs-12 col-lg-4">
                <h3>外汇保证金交易系统</h3>
                <p>外汇交易软件，我们只专注于移动端的外汇交易解决方案</p>
            </div><!--/col-lg-4 -->

            <div class="col-xs-12 col-lg-4">
                <h3>外汇交易风险控制系统</h3>
                <p>面向企业的Saas平台解决方案， 清凉级Docker Container的资源隔离机制，保证每家企业各自独立的风控及时性与可持续性</p>

            </div><!--/col-lg-4 -->

            <div class="col-xs-12 col-lg-4">
                <h3>金融软件系统设计开发支持与咨询</h3>
                <p>十多年的金融领域软件设计开发经验， 对外汇， 信贷， 债券等系统的设计与开发有独到的见地，可以为各相关金融企业提供技术支持与资讯</p>

            </div><!--/col-lg-4 -->
        </div><!-- /row -->



        <hr>
        <p class="centered">@@Copyright Reserved by keevol.com, 2014</p>
        <p class="centered"><a href="mailto:fujohnwang@@gmail.com">联系我们(Contact Us)</a> </p>
    </div><!-- /container -->
</div><!-- /headerwrap -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="@routes.Assets.at("javascripts/jquery-2.1.1.min.js")"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
</body>
</html>
